* {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    /*border: red solid 2px;*/
}

body {
    margin: 0;
}

.topcontainer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0px 164px 128px;
}

.header {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
    padding: 14px 0 0 0;
    gap: 24px;
    margin-bottom: 64px;
}

.left-margin-header {
    margin-left: auto;
}

.header p {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.bigtext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hero-left {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.hero-left button {
    margin-top: 12px;
    max-width: 124px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
}

img {
    height: auto;
    width: 100%;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}